*~
*.json
*.pyc
*.log
*.csv
*.ipynb
dependencies/

# Generated documentation files
/doc/build
.idea/
venv/
erdos_pylot.egg-info/

# Submodules handled by install.sh
frenet_optimal_trajectory_planner/
