absl-py
cvxpy
erdos>=0.3.1
gdown
lapsolver
matplotlib==2.2.4
motmetrics
networkx==2.2
numpy<1.17
open3d-python==0.5.0.0
opencv-python>=4.1.0.25
opencv-contrib-python>=4.1.0.25
pillow>=6.2.2
pygame==1.9.6
pytest
scikit-image<0.15
scipy==1.2.2
shapely==1.6.4
tensorflow-gpu==1.15.4
torch==1.4.0
torchvision==0.5.0
##### SORT tracking dependencies #####
filterpy==1.4.1
numba==0.50.0
scikit-learn==0.22.2
##### DeepSORT tracking dependencies #####
imgaug==0.2.8
nonechucks==0.3.1
##### CenterTrack dependencies #####
Cython
progress
pyquaternion
nuscenes-devkit
