absl-py
cffi
cvxpy
gdown
matplotlib==2.2.4
open3d-python==0.4.0.0
opencv-python
opencv-contrib-python
pid_controller
pillow
pptk
protobuf
ray
rospkg
scikit-image
scipy  
setproctitle
torch==0.4.1
torchvision==0.2.1
